<div class="wrapper fullscreen">
  <div class="container-fluid">
    <div class="row">
      <header class="col-sm-8 col-md-6 col-lg-5 margin-auto standard-header">
        <a href="/home">
          <logo>
          </logo>
        </a>
      </header>
      <main class="col-sm-12">
        <article class="quote">
          <q>
            Play the opening like a book, the middlegame like a magician, and the endgame like a machine.
          </q>
          <span class="author">
            ~ Rudolph Spielmann
          </span>
        </article>
        <nav class="col-sm-12">
          <section>
            Remember, practice makes perfect!<br>
            <a href="/home">
              <img src="../../../assets/pages/landing/become-chess-master.png" alt="Become chess master" class="wolf-bane-text size-l clickable">
            </a>
          </section>
          <section>
            Don't know, where you are?<br>
            <a href="/presentation">
              <img src="../../../assets/pages/landing/explore-our-project.png" alt="Explore our project" class="wolf-bane-text size-l clickable">
            </a>
          </section>
        </nav>
      </main>
      <footer class="col-sm-12 margin-auto standard-footer">
        Copyright © Chess Training Game, 2018<br>
        All right reserved
      </footer>
    </div>
  </div>	
</div>