<div class="wrapper fullscreen">
  <div class="container-fluid">
    <div class="row">
      <header class="col-sm-8 col-md-6 col-lg-5 margin-auto standard-header">
        <a href="/home">
          <logo>
          </logo>
        </a>
      </header>
      <main class="col-sm-12">
        <article class="quote">
          <q>
            Chess is the struggle against the error.
          </q>
          <span class="author">
            ~ Johannes Zukertort
          </span>
        </article>
        <article class="error-message col-sm-12">
          We're sorry but the page you tried to access does not exist on this server.
        </article>
        <aside class="col-sm-10 col-md-6 col-lg-6 col-xl-4 margin-auto">
          <img src="../../../assets/pages/error/chess-pieces.png" alt="Chess pieces">
        </aside>
      </main>
      <footer class="col-sm-12 margin-auto standard-footer">
        Copyright © Chess Training Game, 2018<br>
        All right reserved
      </footer>
    </div>
  </div>	
</div>
