<div class="wrapper fullscreen">
  <div class="container-fluid">
    <div class="row">
      <header class="col-sm-8 col-md-6 col-lg-4 margin-auto standard-header">
        <a href="/home">
          <logo>
          </logo>
        </a>
      </header>
    </div>
    <div class="row">
      <aside class="aside-left col-sm-12 col-lg-3 margin-auto">
        <img src="../../../assets/pages/game/whats-ranked-game.png" alt="What's ranked game?" class="wolf-bane-text size-s"><br>
        <p>
          When playing ranked mode, every single mistake matters.
        </p>
        <p>
          Your task is to find correct puzzle solution in the shortest possible time. Wrong moves result in loss of points and lower position in the rankings.
        </p>
        <p>
          In ranked mode each puzzle can be played only once.
        </p>
        <img src="../../../assets/pages/game/whats-training-game.png" alt="What's training game?"  class="wolf-bane-text size-s"><br>
        <p>
          As opposed to ranked games, while training you can think two, or even three, times before making a move.
        </p>
        <p>
          Mistakes are not punished, they do not affect your position in the rankings. It's possible to choose specific or random levels type.
        </p>
        <p>
          Puzzles pool are the same as in the ranked mode, each of them can be played more than once.
        </p>
      </aside>
      <main class="col-sm-12 col-lg-6 margin-auto">
        <div class="main">
          <div *ngIf="currentSection === 'quotation'" class="flex-column">
            <article class="quote">
              <q>
                {{quotation.content}}
              </q>
              <span class="author">
                ~ {{quotation.author}}
              </span>
            </article>
          </div>
          <div *ngIf="currentSection === 'mode-selection'" class="mode-selection">
            <header class="mode-selection-header flex-row">
              <img src="../../../assets/pages/game/select-game-mode.png" alt="Select game mode" class="wolf-bane-text size-m">
            </header>
            <article class="flex-row">
              <div>
                <span class="hover-all clickable unlocked" (click)="startPuzzleSelection('ranked')">
                  <img src="../../../assets/pages/game/ranked.png" alt="Ranked" class="wolf-bane-text size-s clickable"><br>
                  <img src="../../../assets/pages/game/ranked-rook.png" alt="Rook" class="piece clickable">
                </span>
              </div>
              <div>
                <span class="hover-all clickable unlocked" (click)="startPuzzleSelection('training')">
                  <img src="../../../assets/pages/game/training.png" alt="Training" class="wolf-bane-text size-s clickable"><br>
                  <img src="../../../assets/pages/game/training-pawn.png" alt="Pawn" class="piece clickable">
                </span>
              </div>
            </article>
          </div>
          <div *ngIf="currentSection === 'puzzle-selection'" class="puzzle-selection">
            <header class="mode-selection-header flex-row">
              <img src="../../../assets/pages/game/select-puzzle-type.png" alt="Select puzzle type" class="wolf-bane-text size-m">
            </header>
            <article class="flex-row">
              <span class="hover-all clickable unlocked" (click)="startGame('oneMoveCheckmate')">
                <img src="../../../assets/shared/achievements/one-move-checkmate-achievement.png" alt="Mate in 1!" title="Mate in 1!" class="game-mode-order"><br>
                <img src="../../../assets/pages/game/checkmates-one-move.png" alt="Checkmates by 1 move" class="wolf-bane-text size-s clickable">
              </span>
              <span *ngIf="playerScores.scores.oneMoveCheckmate.completed < 25" class="hover-all clickable blocked">
                <img src="../../../assets/shared/achievements/two-moves-checkmate-achievement.png" alt="Mate in 2!" title="Mate in 2!" class="game-mode-order"><br>
                <img src="../../../assets/pages/game/checkmates-two-moves.png" alt="Checkmates by 2 moves" class="wolf-bane-text size-s">
              </span>
              <span *ngIf="playerScores.scores.oneMoveCheckmate.completed >= 25" class="hover-all clickable unlocked" (click)="startGame('twoMovesCheckmate')">
                <img src="../../../assets/shared/achievements/two-moves-checkmate-achievement.png" alt="Mate in 2!" title="Mate in 2!" class="game-mode-order"><br>
                <img src="../../../assets/pages/game/checkmates-two-moves.png" alt="Checkmates by 2 moves" class="wolf-bane-text size-s clickable">
              </span>
              <span *ngIf="playerScores.scores.twoMovesCheckmate.completed < 25" class="hover-all clickable blocked">
                <img src="../../../assets/shared/achievements/three-movees-checkmate-achievement.png" alt="Mate in 3!" title="Mate in 3!" class="game-mode-order"><br>
                <img src="../../../assets/pages/game/checkmates-three-moves.png" alt="Checkmates by 3 moves" class="wolf-bane-text size-s">
              </span>
              <span *ngIf="playerScores.scores.twoMovesCheckmate.completed >= 25" class="hover-all clickable unlocked" (click)="startGame('threeMovesCheckmate')">
                <img src="../../../assets/shared/achievements/three-movees-checkmate-achievement.png" alt="Mate in 3!" title="Mate in 3!" class="game-mode-order"><br>
                <img src="../../../assets/pages/game/checkmates-three-moves.png" alt="Checkmates by 3 moves" class="wolf-bane-text size-s clickable">
              </span>
            </article>
            <article class="flex-row">
              <span class="hover-all clickable unlocked" (click)="startGame('stalemate')">
                <img src="../../../assets/shared/achievements/stalemate-achievement.png" alt="Draw!" title="Draw!" class="game-mode-order"><br>
                <img src="../../../assets/pages/game/stalemates.png" alt="Stalemates" class="wolf-bane-text size-s clickable">
              </span>
              <span class="hover-all clickable unlocked" (click)="startGame('doubleAttack')">
                <img src="../../../assets/shared/achievements/double-attack-achievement.png" alt="Fork!" title="Fork!" class="game-mode-order"><br>
                <img src="../../../assets/pages/game/double-attacks.png" alt="Double attacks" class="wolf-bane-text size-s clickable">
              </span>
              <span *ngIf="!rankedGameMode" class="hover-all clickable unlocked" (click)="startGame('random')">
                <img src="../../../assets/shared/achievements/random-game-mode.png" alt="Random!" title="Random!" class="game-mode-order"><br>
                <img src="../../../assets/pages/game/random.png" alt="Random" class="wolf-bane-text size-s clickable">
              </span>
            </article>
            <article class="back-button flex-row">
              <img src="../../../assets/shared/back.png" alt="Back" class="wolf-bane-text size-xs clickable" (click)="changeSection('mode-selection')">
            </article>
          </div>
          <div *ngIf="currentSection === 'game'">
            <div class="chessboard margin-auto">
              <ng-container *ngFor="let piece of chessboard.fields; let i = index;">
                <ng-container *ngIf="((i / 8) - (i % 8) / 8) % 2 === 0">
                  <div id="field-{{i}}" *ngIf="i % 2 === 0" class="chessboard-field white clickable" (click)="chessboardFieldClick(i)">
                    <img *ngIf="piece !== null" src="{{piece.prepareAssetsURL()}}" alt="{{piece.prepareAlternativeDescription}}" class="chess-piece">
                  </div>
                  <div id="field-{{i}}" *ngIf="i % 2 === 1" class="chessboard-field black clickable" (click)="chessboardFieldClick(i)">
                    <img *ngIf="piece !== null" src="{{piece.prepareAssetsURL()}}" alt="{{piece.prepareAlternativeDescription}}" class="chess-piece">
                  </div>
                </ng-container>
                <ng-container *ngIf="((i / 8) - (i % 8) / 8) % 2 === 1">
                  <div id="field-{{i}}" *ngIf="i % 2 === 0" class="chessboard-field black clickable" (click)="chessboardFieldClick(i)">
                    <img *ngIf="piece !== null" src="{{piece.prepareAssetsURL()}}" alt="{{piece.prepareAlternativeDescription}}" class="chess-piece">
                  </div>
                  <div id="field-{{i}}" *ngIf="i % 2 === 1" class="chessboard-field white clickable" (click)="chessboardFieldClick(i)">
                    <img *ngIf="piece !== null" src="{{piece.prepareAssetsURL()}}" alt="{{piece.prepareAlternativeDescription}}" class="chess-piece">
                  </div>
                </ng-container>
                <div *ngIf="i % 8 === 7" class="clear-both"></div>
              </ng-container>
            </div>
            <div>
              <img src="../../../assets/shared/back.png" alt="Back" class="wolf-bane-text size-xs clickable" (click)="cancelGame()">
            </div>
          </div>
          <div *ngIf="currentSection === 'error'">
            {{error}}
          </div>
        </div>
      </main>
      <aside class="aside-right col-sm-12 col-lg-3 margin-auto">
        <img src="../../../assets/pages/game/profile.png" alt="Profile" class="wolf-bane-text size-s"><br>
        <span class="profile-image-span">
          <img src="" alt="Player avatar" class="profile-image">
        </span><br>
        <span class="username"></span><br>
        <a href="/account"><span class="link">manage account</span></a><br>
        <img src="../../../assets/pages/game/your-scores.png" alt="Your scores" class="wolf-bane-text size-s"><br>
        <span class="achievement">
          <img src="../../../assets/shared/achievements/one-move-checkmate-achievement.png" alt="Mate in 1!" class="achievement-order" title="Mate in 1!"><br>
          {{playerScores.scores.oneMoveCheckmate.completed}}/{{playerScores.scores.oneMoveCheckmate.levels}}
        </span>
        <span class="achievement">
          <img src="../../../assets/shared/achievements/two-moves-checkmate-achievement.png" alt="Mate in 2!" class="achievement-order" title="Mate in 2!"><br>
          {{playerScores.scores.twoMovesCheckmate.completed}}/{{playerScores.scores.twoMovesCheckmate.levels}}
        </span>
        <span class="achievement">
          <img src="../../../assets/shared/achievements/three-movees-checkmate-achievement.png" alt="Mate in 3!" class="achievement-order" title="Mate in 3!"><br>
          {{playerScores.scores.threeMovesCheckmate.completed}}/{{playerScores.scores.threeMovesCheckmate.levels}}
        </span>
        <span class="achievement">
          <img src="../../../assets/shared/achievements/stalemate-achievement.png" alt="Draw!" class="achievement-order" title="Draw!"><br>
          {{playerScores.scores.stalemate.completed}}/{{playerScores.scores.stalemate.levels}}
        </span>
        <span class="achievement">
          <img src="../../../assets/shared/achievements/double-attack-achievement.png" alt="Fork!" class="achievement-order" title="Fork!"><br>
          {{playerScores.scores.doubleAttack.completed}}/{{playerScores.scores.doubleAttack.levels}}
        </span>
      </aside>
    </div>
  </div>	
</div>