<div class="wrapper fullscreen">
  <div class="container-fluid">
    <div class="row">
      <header class="col-sm-8 col-md-6 col-lg-4 margin-auto standard-header">
        <a href="/home">
          <logo>
          </logo>
        </a>
      </header>
      <main class="col-sm-12">
        <article class="quote">
          <q>
            I don’t believe in psychology. I believe in good moves.
          </q>
          <span class="author">
            ~ Bobby Fischer
          </span>
        </article>
        <div class="main">
          <div *ngIf="currentSection === 'home'">
            <nav class="col-sm-12">
              <section>
                Just keep learning!<br>
                <img src="../../../assets/pages/home/improve-your-skills.png" alt="Improve your skills" class="clickable wolf-bane-text size-l" (click)="changeSection('signIn')">
              </section>
              <section>
                Don't have account yet?<br>
                <a href="/register">
                  <img src="../../../assets/pages/home/register-for-free.png" alt="Register for free" class="wolf-bane-text size-l clickable">
                </a>
              </section>
            </nav>
          </div>
          <div *ngIf="currentSection === 'signIn'">
            <form (submit)="signIn()">
              <img src="../../../assets/pages/home/username.png" alt="Username" class="sign-in-method username active wolf-bane-text size-s clickable" (click)="updateSignInMethod('username')"><img src="../../../assets/pages/home/email.png" alt="Email" class="sign-in-method email inactive wolf-bane-text size-s clickable" (click)="updateSignInMethod('email')"><br>
              <input type="text" name="login" [attr.placeholder]="signInMethod === 'username' ? 'username' : 'email'" [attr.maxlength]="signInMethod === 'username' ? maximumUsernameLength : maximumEmailLength" [(ngModel)]="userCredentials.login" class="standard-input"><br>
              <input type="password" name="password" placeholder="password" [attr.maxlength]="maximumPasswordLength" [(ngModel)]="userCredentials.password" class="standard-input"><br>
              <button type="submit" [disabled]="!validateCredentials()" class="standard-button">
                <img src="../../../assets/pages/home/sign-in.png" alt="Sign in" class="wolf-bane-text size-l clickable">
              </button><br>
              <img src="../../../assets/shared/back.png" alt="Back" class="back wolf-bane-text size-xs clickable" (click)="changeSection('home')">
            </form>
          </div>
          <div *ngIf="currentSection === 'loggedIn'" class="player-profile">
            <div class="row">
              <article class="col-sm-12 margin-auto">
                Face most difficult challenges!<br>
                <a href="/game">
                  <img src="../../../assets/pages/home/begin-training-session.png" alt="Begin training session" class="wolf-bane-text size-m clickable">
                </a>
              </article>
            </div>
            <div class="row">
              <article class="col-sm-8 col-md-6 col-lg-6 col-xl-3 margin-auto">
                Learn game rules!<br>
                <a href="/guide">
                  <img src="../../../assets/pages/home/check-official-guide.png" alt="Check official guide" class="wolf-bane-text size-m clickable">
                </a>
              </article>
              <!--
              <article class="col-sm-8 col-md-6 col-lg-6 col-xl-3 margin-auto">
                Join exciting discourses!<br>
                <a href="/forum">
                  <img src="../../../assets/pages/home/visit-discussion-forum.png" alt="Visit discussion forum" class="wolf-bane-text size-m clickable">
                </a>
              </article>
              -->
              <article class="col-sm-8 col-md-6 col-lg-6 col-xl-3 margin-auto">
                Increase chess knowledge!<br>
                <a href="/articles">
                  <img src="../../../assets/pages/home/read-our-publications.png" alt="Read our publications" class="wolf-bane-text size-m clickable">
                </a>
              </article>
              <article class="col-sm-8 col-md-6 col-lg-6 col-xl-3 margin-auto">
                Customize your profile!<br>
                <a href="/account">
                  <img src="../../../assets/pages/home/change-account-settings.png" alt="Change account settings" class="wolf-bane-text size-m clickable">
                </a>
              </article>
            </div>
          </div>
        </div>
      </main>
      <footer class="col-sm-12 margin-auto standard-footer">
        Copyright © Chess Training Game, 2018<br>
        All right reserved
      </footer>
    </div>
  </div>	
</div>