/* Global styles */

@import "colors";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.wrapper {
    color: $white;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 18px;
    min-height: 100vh;
    overflow-x: hidden;
    text-align: center;
    width: calc(100vw - (100vw - 100%));
    &.fullscreen {
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    @media only screen and (max-width: 1600px), screen and (max-height: 900px) {
        font-size: 16px;
    }
    @media only screen and (max-width: 1280px), screen and (max-height: 720px) {
        font-size: 14px;
    }
    @media only screen and (max-width: 1024px), screen and (max-height: 576px) {
        font-size: 12px;
    }
}

.clickable {
    cursor: pointer;
}

.margin-auto {
    margin: 0 auto;
}

.clear-both {
    clear: both;
}

.flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-column {
    align-items: center;
    display: flex;
    flex-direction: column;
}

img.wolf-bane-text {
    max-width: 90vh;
    &.clickable {
        opacity: 0.25;
        transition: all 0.5s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
    &.size-l{
        transform: scale(1);
        @media only screen and (max-width: 1600px), screen and (max-height: 900px) {
            transform: scale(0.9);
        }
        @media only screen and (max-width: 1280px), screen and (max-height: 720px) {
            transform: scale(0.8);
        }
    }
    &.size-m{
        transform: scale(0.9);
        @media only screen and (max-width: 1600px), screen and (max-height: 900px) {
            transform: scale(0.8);
        }
        @media only screen and (max-width: 1280px), screen and (max-height: 720px) {
            transform: scale(0.7);
        }
    }
    &.size-s{
        transform: scale(0.8);
        @media only screen and (max-width: 1600px), screen and (max-height: 900px) {
            transform: scale(0.7);
        }
        @media only screen and (max-width: 1280px), screen and (max-height: 720px) {
            transform: scale(0.6);
        }
    }
    &.size-xs{
        transform: scale(0.7);
        @media only screen and (max-width: 1600px), screen and (max-height: 900px) {
            transform: scale(0.6);
        }
        @media only screen and (max-width: 1280px), screen and (max-height: 720px) {
            transform: scale(0.5);
        }
    }
}

header.standard-header {
    max-width: 90vw;
    padding: 30px 10px 20px;
    @media only screen and (max-width: 1280px), screen and (max-height: 720px) {
        padding: 20px 10px;
    }
    @media only screen and (max-width: 1024px), screen and (max-height: 576px) {
        padding: 10px;
    }
}

article.quote {
    font-family: 'Marck Script';
    padding: 20px 10px 30px;
    q {
        display: block;
        font-size: 36px;
        @media only screen and (max-width: 1600px), screen and (max-height: 900px) {
            font-size: 32px;
        }
        @media only screen and (max-width: 1280px), screen and (max-height: 720px) {
            font-size: 28px;
        }
        @media only screen and (max-width: 1024px), screen and (max-height: 576px) {
            font-size: 24px;
        }
        @media only screen and (max-width: 768px), screen and (max-height: 432px) {
            font-size: 16px;
        }
    }
    span.author {
        font-size: 28px;
        @media only screen and (max-width: 1600px), screen and (max-height: 900px) {
            font-size: 24px;
        }
        @media only screen and (max-width: 1280px), screen and (max-height: 720px) {
            font-size: 20px;
        }
        @media only screen and (max-width: 1024px), screen and (max-height: 576px) {
            font-size: 16px;
        }
        @media only screen and (max-width: 768px), screen and (max-height: 432px) {
            font-size: 12px;
        }
    }
}

nav.standard-nav {
    section {
        padding: 20px;
        @media only screen and (max-width: 1280px), screen and (max-height: 720px) {
            padding: 10px;
        }
        @media only screen and (max-width: 1024px), screen and (max-height: 576px) {
            padding: 5px;
        }
        img {
            max-width: 90%;
            @media only screen and (max-width: 1600px), screen and (max-height: 900px) {
                transform: scale(0.9);
            }
            @media only screen and (max-width: 1280px), screen and (max-height: 720px) {
                transform: scale(0.8);
            }
        }
    }
}

input.standard-input {
    background-color: $transparent;
    border: 2px solid $white;
    color: $white;
    font-size: 14px;
    opacity: 0.9;
    text-align: center;
}

button.standard-button {
    background: $transparent;
    border: 0;
}

footer.standard-footer {
    bottom: 10px;
    font-size: 12px;
    opacity: 0.75;
    position: absolute;
}